In [1]:
import numpy as np 
import pandas as pd 
from ipynb.fs.full.funciones_FF import feature_RatioDayMoments, feature_Basicos, feature_Basicos_Ult_7d
from ipynb.fs.full.funciones_CF import qty_adoptions

# Seteo del mes snapshot

In [2]:
mes_snapshot = 9  #9 para train 12 para scoreo

# Lectura de los csv

In [3]:
df_pageviews = pd.read_csv("./data/pageviews.csv",
                   parse_dates=["FEC_EVENT"])
df_devicedata = pd.read_csv("./data/device_data.csv",
                   parse_dates=["FEC_EVENT"])
df_conversiones = pd.read_csv("./data/conversiones.csv")

In [4]:
#Se eliminan los registros que no deben ser considerados.
df_pageviews = df_pageviews[df_pageviews['FEC_EVENT'].dt.month <= mes_snapshot]
df_pageviews = df_pageviews[df_pageviews['FEC_EVENT'].dt.month > mes_snapshot - 9]

df_devicedata = df_devicedata[df_devicedata['FEC_EVENT'].dt.month <= mes_snapshot]
df_devicedata = df_devicedata[df_devicedata['FEC_EVENT'].dt.month > mes_snapshot - 9]

# Creaci√≥n del universo

In [5]:
def universo_train(df):
    universo = pd.DataFrame()
    universo['user_id'] = df.USER_ID.unique()
    universo['snapshot_mes'] = mes_snapshot
    return universo

In [6]:
universo = universo_train(df_pageviews)
universo.head(10)

   user_id  snapshot_mes
0        0             9
1        1             9
2        2             9
3        3             9
4        4             9
5        5             9
6        6             9
7        7             9
8        8             9
9        9             9

# Features

In [7]:
# def feature_X(df):

In [8]:
# def feature_X1(df):

# Armar dataset

In [9]:
# FF methods
universo = feature_RatioDayMoments(universo,df_pageviews)
universo = feature_Basicos(universo,df_pageviews) 
universo = feature_Basicos_Ult_7d(universo,df_pageviews)

# CF methods
universo = qty_adoptions(universo, df_conversiones)

# check df
universo.head(10)

,user_id,snapshot_mes,FEC_EVENT_MAX,CANT_TOTAL_EVER,CANT_TOTAL_ULT_7D,FEC_EVENT_MENOS_7D,RATIO_VISITA_MADRUGADA,RATIO_VISITA_MANANA,RATIO_VISITA_TARDE,RATIO_VISITA_NOCHE,...,CONTENT_CATEGORY_BOTTOM_Ult_7d_63,SITE_ID_Ult_7d_1,SITE_ID_Ult_7d_2,SITE_ID_Ult_7d_3,SITE_ID_Ult_7d_4,ON_SITE_SEARCH_TERM_Ult_7d_1,qty_1,qty_3,qty_6,qty_9
0,0,9,2018-09-30 20:13:42,4912,90,2018-09-23 20:13:42,0.0,0.466667,0.222222,0.311111,...,0.0,0.000000,0.244444,0.755556,0.0,1.0,0.0,0.0,0.0,0.0
1,1,9,2018-09-30 20:56:50,1634,26,2018-09-23 20:56:50,0.0,0.961538,0.000000,0.038462,...,0.0,0.115385,0.230769,0.653846,0.0,1.0,0.0,0.0,0.0,0.0
2,2,9,2018-09-28 00:04:58,1717,15,2018-09-21 00:04:58,0.2,0.466667,0.333333,0.000000,...,0.0,0.200000,0.266667,0.533333,0.0,1.0,0.0,0.0,0.0,0.0
3,3,9,2018-09-28 16:03:37,1554,61,2018-09-21 16:03:37,0.0,0.049180,0.950820,0.000000,...,0.0,0.016393,0.229508,0.754098,0.0,1.0,0.0,0.0,0.0,0.0
4,4,9,2018-09-27 22:15:33,2478,50,2018-09-20 22:15:33,0.0,0.240000,0.300000,0.460000,...,0.0,0.000000,0.420000,0.580000,0.0,1.0,0.0,0.0,0.0,0.0
5,5,9,2018-09-30 13:13:39,4250,72,2018-09-23 13:13:39,0.0,0.361111,0.486111,0.152778,...,0.0,0.041667,0.111111,0.847222,0.0,1.0,0.0,0.0,0.0,0.0
6,6,9,2018-09-28 15:36:45,1108,48,2018-09-21 15:36:45,0.0,0.395833,0.604167,0.000000,...,0.0,0.000000,0.145833,0.854167,0.0,1.0,0.0,0.0,0.0,0.0
7,7,9,2018-09-27 09:19:27,1793,11,2018-09-20 09:19:27,0.0,0.272727,0.727273,0.000000,...,0.0,0.000000,0.363636,0.636364,0.0,1.0,0.0,0.0,0.0,0.0
8,8,9,2018-09-26 12:41:21,1549,137,2018-09-19 12:41:21,0.0,0.000000,0.744526,0.255474,...,0.0,0.080292,0.131387,0.788321,0.0,1.0,0.0,0.0,0.0,0.0
9,9,9,2018-09-30 22:01:01,1591,40,2018-09-23 22:01:01,0.0,0.000000,0.325000,0.675000,...,0.0,0.050000,0.125000,0.825000,0.0,1.0,0.0,0.0,0.0,0.0

# Target

In [10]:
def target(df):
    df = pd.merge(df, df_conversiones, how='left', left_on=['user_id'], right_on=['USER_ID'])
    df.mes.fillna(value= 99, inplace=True)
    df = df.astype({'mes': 'int32'}) 
    
    df['target'] = 0
    df.loc[df.mes == df.snapshot_mes +1, 'target'] = 1
    df.loc[df.mes == df.snapshot_mes +2, 'target'] = 1
    df.loc[df.mes == df.snapshot_mes +3, 'target'] = 1

    return (df.groupby(['user_id', 'snapshot_mes'])['target'].max()).to_frame().reset_index()

In [11]:
target_universo = target(universo)
universo = pd.merge(universo, target_universo, how='left', left_on=['user_id', 'snapshot_mes'], right_on=['user_id','snapshot_mes'])

In [12]:
universo.to_csv(r'dataset.csv', index = None, header=True)

In [13]:
universo[universo.qty_1 == 1]

,user_id,snapshot_mes,FEC_EVENT_MAX,CANT_TOTAL_EVER,CANT_TOTAL_ULT_7D,FEC_EVENT_MENOS_7D,RATIO_VISITA_MADRUGADA,RATIO_VISITA_MANANA,RATIO_VISITA_TARDE,RATIO_VISITA_NOCHE,...,SITE_ID_Ult_7d_1,SITE_ID_Ult_7d_2,SITE_ID_Ult_7d_3,SITE_ID_Ult_7d_4,ON_SITE_SEARCH_TERM_Ult_7d_1,qty_1,qty_3,qty_6,qty_9,target
378,378,9,2018-09-28 22:53:28,751,138,2018-09-21 22:53:28,0.000000,0.166667,0.760870,0.072464,...,0.000000,0.152174,0.847826,0.000000,1.0,1.0,1.0,1.0,1.0,0
382,382,9,2018-09-28 10:44:23,4471,43,2018-09-21 10:44:23,0.000000,0.790698,0.209302,0.000000,...,0.023256,0.186047,0.790698,0.000000,1.0,1.0,1.0,1.0,1.0,0
397,397,9,2018-09-24 13:48:16,1056,31,2018-09-17 13:48:16,0.000000,0.032258,0.967742,0.000000,...,0.322581,0.064516,0.612903,0.000000,1.0,1.0,1.0,1.0,1.0,1
533,533,9,2018-09-28 18:32:29,2707,44,2018-09-21 18:32:29,0.022727,0.000000,0.500000,0.477273,...,0.136364,0.250000,0.613636,0.000000,1.0,1.0,1.0,1.0,1.0,0
548,548,9,2018-09-28 14:13:01,1532,48,2018-09-21 14:13:01,0.000000,0.000000,0.812500,0.187500,...,0.062500,0.291667,0.645833,0.000000,1.0,1.0,2.0,4.0,4.0,0
562,562,9,2018-09-30 19:01:46,1899,259,2018-09-23 19:01:46,0.000000,0.359073,0.401544,0.239382,...,0.069498,0.181467,0.749035,0.000000,1.0,1.0,2.0,2.0,2.0,0
565,565,9,2018-09-27 13:07:19,2282,52,2018-09-20 13:07:19,0.000000,0.692308,0.307692,0.000000,...,0.000000,0.307692,0.692308,0.000000,1.0,1.0,1.0,1.0,2.0,0
610,610,9,2018-09-28 13:19:49,3659,122,2018-09-21 13:19:49,0.000000,0.278689,0.696721,0.024590,...,0.040984,0.204918,0.754098,0.000000,1.0,1.0,1.0,3.0,3.0,0
637,637,9,2018-09-30 22:32:22,1394,148,2018-09-23 22:32:22,0.000000,0.466216,0.000000,0.533784,...,0.000000,0.175676,0.824324,0.000000,1.0,1.0,1.0,2.0,2.0,1
676,676,9,2018-09-28 18:15:51,2605,65,2018-09-21 18:15:51,0.000000,0.400000,0.538462,0.061538,...,0.123077,0.307692,0.569231,0.000000,1.0,1.0,1.0,1.0,1.0,0
797,797,9,2018-09-27 14:23:32,884,69,2018-09-20 14:23:32,0.000000,0.072464,0.826087,0.101449,...,0.130435,0.202899,0.666667,0.000000,1.0,1.0,1.0,1.0,1.0,0
803,803,9,2018-09-29 18:36:09,5827,115,2018-09-22 18:36:09,0.000000,0.530435,0.365217,0.104348,...,0.086957,0.200000,0.713043,0.000000,1.0,1.0,1.0,2.0,3.0,0
839,839,9,2018-09-25 23:05:52,2346,12,2018-09-18 23:05:52,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.250000,0.750000,0.000000,1.0,1.0,1.0,1.0,1.0,1
841,841,9,2018-09-22 16:55:39,1222,57,2018-09-15 16:55:39,0.000000,0.000000,0.719298,0.280702,...,0.035088,0.263158,0.701754,0.000000,1.0,1.0,1.0,1.0,1.0,0
848,848,9,2018-09-28 08:53:33,1609,51,2018-09-21 08:53:33,0.000000,0.392157,0.607843,0.000000,...,0.000000,0.098039,0.901961,0.000000,1.0,1.0,1.0,1.0,1.0,1
1055,1055,9,2018-09-20 15:32:39,1299,38,2018-09-13 15:32:39,0.000000,0.000000,0.631579,0.368421,...,0.052632,0.210526,0.736842,0.000000,1.0,1.0,1.0,1.0,1.0,0
1056,1056,9,2018-09-28 18:11:20,3175,104,2018-09-21 18:11:20,0.067308,0.692308,0.115385,0.125000,...,0.076923,0.153846,0.769231,0.000000,1.0,1.0,2.0,2.0,2.0,0
1093,1093,9,2018-09-24 18:02:25,2092,70,2018-09-17 18:02:25,0.000000,0.342857,0.328571,0.328571,...,0.071429,0.200000,0.728571,0.000000,1.0,1.0,2.0,2.0,2.0,1
1111,1111,9,2018-09-24 15:38:30,1475,107,2018-09-17 15:38:30,0.000000,0.224299,0.775701,0.000000,...,0.084112,0.196262,0.719626,0.000000,1.0,1.0,2.0,2.0,2.0,0
1211,1211,9,2018-09-10 21:12:35,419,88,2018-09-03 21:12:35,0.000000,0.000000,0.261364,0.738636,...,0.147727,0.090909,0.750000,0.011364,1.0,1.0,1.0,1.0,1.0,0
1304,1304,9,2018-09-29 13:23:47,3718,147,2018-09-22 13:23:47,0.000000,0.551020,0.292517,0.156463,...,0.081633,0.217687,0.700680,0.000000,1.0,1.0,1.0,1.0,1.0,1
1380,1380,9,2018-09-30 18:33:25,3460,188,2018-09-23 18:33:25,0.000000,0.170213,0.063830,0.765957,...,0.037234,0.117021,0.845745,0.000000,1.0,1.0,1.0,2.0,3.0,1
1408,1408,9,2018-09-30 22:03:01,3035,146,2018-09-23 22:03:01,0.068493,0.397260,0.308219,0.226027,...,0.027397,0.246575,0.726027,0.000000,1.0,1.0,1.0,1.0,1.0,0
1416,1416,9,2018-09-30 13:44:14,2194,65,2018-09-23 13:44:14,0.030769,0.138462,0.061538,0.769231,...,0.076923,0.276923,0.646154,0.000000,1.0,1.0,1.0,1.0,1.0,0
1434,1434,9,2018-09-30 12:27:24,2165,40,2018-09-23 12:27:24,0.000000,0.700000,0.300000,0.000000,...,0.075000,0.250000,0.675000,0.000000,1.0,1.0,1.0,1.0,1.0,0
1447,1447,9,2018-09-18 18:58:48,441,28,2018-09-11 18:58:48,0.000000,0.107143,0.000000,0.892857,...,0.035714,0.250000,0.714286,0.000000,1.0,1.0,1.0,1.0,1.0,0
1483,1483,9,2018-09-29 10:22:56,1766,36,2018-09-22 10:22:56,0.000000,0.694444,0.250000,0.055556,...,0.000000,0.277778,0.722222,0.000000,1.0,1.0,1.0,1.0,1.0,0
1716,1716,9,2018-09-15 09:17:00,1107,32,2018-09-08 09:17:00,0.000000,0.343750,0.000000,0.656250,...,0.000000,0.218750,0.781250,0.000000,1.0,1.0,1.0,1.0,2.0,0
1907,1907,9,2018-09-26 12:01:49,796,15,2018-09-19 12:01:49,0.000000,0.000000,0.200000,0.800000,...,0.133333,0.133333,0.733333,0.000000,1.0,1.0,1.0,1.0,1.0,1
2195,2195,9,2018-09-28 17:56:40,1556,192,2018-09-21 17:56:40,0.000000,0.515625,0.312500,0.171875,...,0.109375,0.223958,0.666667,0.000000,1.0,1.0,1.0,2.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8573,8573,9,2018-06-29 16:59:00,2313,84,2018-06-22 16:59:00,0.000000,0.440476,0.488095,0.071429,...,0.023810,0.321429,0.654762,0.000000,1.0,1.0,1.0,1.0,2.0,0
8656,8656,9,2018-06-28 14:21:11,446,5,2018-06-21 14:21:11,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.400000,0.600000,0.000000,1.0,1.0,2.0,2.0,2.0,1
8964,8964,9,2018-06-22 17:10:37,999,36,2018-06-15 17:10:37,0.000000,0.750000,0.250000,0.000000,...,0.000000,0.250000,0.750000,0.000000,1.0,1.0,1.0,1.0,2.0,0
8965,8965,9,2018-06-29 00:42:11,896,92,2018-06-22 00:42:11,0.554348,0.326087,0.000000,0.119565,...,0.000000,0.445652,0.554348,0.000000,1.0,1.0,1.0,1.0,1.0,1
9103,9103,9,2018-06-09 14:03:37,338,6,2018-06-02 14:03:37,0.000000,0.000000,0.166667,0.833333,...,0.000000,0.500000,0.500000,0.000000,1.0,1.0,1.0,1.0,1.0,1
9188,9188,9,2018-06-20 21:12:03,819,31,2018-06-13 21:12:03,0.000000,0.000000,0.000000,1.000000,...,0.064516,0.193548,0.741935,0.000000,1.0,1.0,1.0,1.0,1.0,0
9195,9195,9,2018-06-29 08:59:13,4253,94,2018-06-22 08:59:13,0.063830,0.500000,0.127660,0.308511,...,0.000000,0.191489,0.808511,0.000000,1.0,1.0,1.0,1.0,1.0,1
9201,9201,9,2018-06-27 14:20:52,647,33,2018-06-20 14:20:52,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.030303,0.969697,0.000000,1.0,1.0,1.0,3.0,3.0,1
9256,9256,9,2018-06-29 18:38:21,326,2,2018-06-22 18:38:21,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.500000,0.500000,0.000000,1.0,1.0,1.0,2.0,3.0,1
9287,9287,9,2018-06-27 14:23:56,2262,68,2018-06-20 14:23:56,0.147059,0.147059,0.147059,0.558824,...,0.088235,0.220588,0.691176,0.000000,1.0,1.0,1.0,3.0,3.0,1
9292,9292,9,2018-05-09 00:41:55,129,2,2018-05-02 00:41:55,1.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,1.0,1.0,1.0,1.0,1.0,0
9351,9351,9,2018-06-27 19:11:54,469,18,2018-06-20 19:11:54,0.000000,0.000000,0.000000,1.000000,...,0.111111,0.388889,0.500000,0.000000,1.0,1.0,1.0,1.0,1.0,0
9390,9390,9,2018-06-28 14:57:49,1044,17,2018-06-21 14:57:49,0.000000,0.000000,1.000000,0.000000,...,0.058824,0.411765,0.529412,0.000000,1.0,1.0,2.0,2.0,3.0,0
9407,9407,9,2018-06-29 10:36:53,1029,54,2018-06-22 10:36:53,0.000000,0.851852,0.148148,0.000000,...,0.018519,0.314815,0.666667,0.000000,1.0,1.0,1.0,1.0,1.0,0
9470,9470,9,2018-06-25 20:36:49,360,18,2018-06-18 20:36:49,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.333333,0.666667,0.000000,1.0,1.0,1.0,1.0,1.0,0
9597,9597,9,2018-06-01 18:34:31,245,31,2018-05-25 18:34:31,0.000000,0.000000,0.096774,0.903226,...,0.064516,0.161290,0.774194,0.000000,1.0,1.0,1.0,1.0,1.0,0
9607,9607,9,2018-06-21 09:25:31,691,50,2018-06-14 09:25:31,0.000000,0.360000,0.520000,0.120000,...,0.100000,0.200000,0.700000,0.000000,1.0,1.0,1.0,1.0,1.0,0
9715,9715,9,2018-06-21 11:21:49,1888,66,2018-06-14 11:21:49,0.000000,0.939394,0.060606,0.000000,...,0.106061,0.212121,0.681818,0.000000,1.0,1.0,1.0,1.0,1.0,0
9872,9872,9,2018-06-29 11:21:30,1702,50,2018-06-22 11:21:30,0.000000,0.560000,0.440000,0.000000,...,0.300000,0.220000,0.480000,0.000000,1.0,1.0,1.0,3.0,3.0,1
10132,10132,9,2018-06-29 23:41:25,398,16,2018-06-22 23:41:25,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.312500,0.687500,0.000000,1.0,1.0,1.0,1.0,1.0,1
10182,10182,9,2018-06-29 20:21:01,4227,240,2018-06-22 20:21:01,0.004167,0.383333,0.329167,0.283333,...,0.029167,0.145833,0.825000,0.000000,1.0,1.0,1.0,4.0,4.0,0
10197,10197,9,2018-06-27 14:29:30,1179,83,2018-06-20 14:29:30,0.000000,0.313253,0.650602,0.036145,...,0.228916,0.566265,0.204819,0.000000,1.0,1.0,1.0,1.0,1.0,0
10500,10500,9,2018-06-29 08:27:25,2074,62,2018-06-22 08:27:25,0.000000,0.790323,0.000000,0.209677,...,0.241935,0.096774,0.661290,0.000000,1.0,1.0,1.0,2.0,3.0,0
10543,10543,9,2018-06-29 09:55:42,938,36,2018-06-22 09:55:42,0.000000,0.333333,0.472222,0.194444,...,0.000000,0.416667,0.583333,0.000000,1.0,1.0,1.0,2.0,2.0,0
10629,10629,9,2018-06-29 07:35:37,1022,25,2018-06-22 07:35:37,0.000000,0.600000,0.400000,0.000000,...,0.120000,0.160000,0.720000,0.000000,1.0,1.0,1.0,2.0,2.0,0
10756,10756,9,2018-06-28 09:18:12,1514,54,2018-06-21 09:18:12,0.000000,0.925926,0.074074,0.000000,...,0.018519,0.462963,0.518519,0.000000,1.0,1.0,2.0,4.0,5.0,1
10790,10790,9,2018-06-29 20:22:36,1392,175,2018-06-22 20:22:36,0.000000,0.125714,0.394286,0.480000,...,0.051429,0.297143,0.651429,0.000000,1.0,1.0,1.0,1.0,1.0,0
10815,10815,9,2018-06-29 12:15:41,1390,580,2018-06-22 12:15:41,0.413793,0.562069,0.024138,0.000000,...,0.001724,0.462069,0.536207,0.000000,1.0,1.0,2.0,2.0,2.0,0
11035,11035,9,2018-09-22 18:21:19,302,114,2018-09-15 18:21:19,0.008772,0.008772,0.692982,0.289474,...,0.017544,0.228070,0.754386,0.000000,1.0,1.0,2.0,3.0,3.0,1
11211,11211,9,2018-06-26 21:01:58,26,26,2018-06-19 21:01:58,0.000000,0.000000,0.000000,1.000000,...,0.076923,0.192308,0.730769,0.000000,1.0,1.0,1.0,1.0,1.0,0