In [30]:
import numpy as np 
import pandas as pd

# Seteo del mes snapshot

In [31]:
mes_snapshot = 9  #9 para train 12 para scoreo

# Lectura de los csv

In [32]:
df_pageviews = pd.read_csv("./data/pageviews.csv",
                   parse_dates=["FEC_EVENT"])
df_devicedata = pd.read_csv("./data/device_data.csv",
                   parse_dates=["FEC_EVENT"])
df_conversiones = pd.read_csv("./data/conversiones.csv")

In [33]:
#Se eliminan los registros que no deben ser considerados.
df_pageviews = df_pageviews[df_pageviews['FEC_EVENT'].dt.month <= mes_snapshot]
df_pageviews = df_pageviews[df_pageviews['FEC_EVENT'].dt.month > mes_snapshot - 9]

df_devicedata = df_devicedata[df_devicedata['FEC_EVENT'].dt.month <= mes_snapshot]
df_devicedata = df_devicedata[df_devicedata['FEC_EVENT'].dt.month > mes_snapshot - 9]

# Creaci√≥n del universo

In [18]:
def universo_train(df):
    universo = pd.DataFrame()
    universo['user_id'] = df.USER_ID.unique()
    universo['snapshot_mes'] = mes_snapshot
    return universo

In [27]:
universo = universo_train(df_pageviews)

# Features

In [ ]:
def feature_X(df):

In [ ]:
def feature_X1(df):

# Armar dataset

In [ ]:
universo = feature_X(universo)
universo = feature_X1(universo)

# Target

In [28]:
def target(df):
    df = pd.merge(df, df_conversiones, how='left', left_on=['user_id'], right_on=['USER_ID'])
    df.mes.fillna(value= 99, inplace=True)
    df = df.astype({'mes': 'int32'}) 
    
    df['target'] = 0
    df.loc[df.mes == df.snapshot_mes +1, 'target'] = 1
    df.loc[df.mes == df.snapshot_mes +2, 'target'] = 1
    df.loc[df.mes == df.snapshot_mes +3, 'target'] = 1

    return (df.groupby(['user_id', 'snapshot_mes'])['target'].max()).to_frame().reset_index()

In [29]:
target(universo)

       user_id  snapshot_mes  target
0            0             9       0
1            1             9       0
2            2             9       0
3            3             9       0
4            4             9       0
5            5             9       0
6            6             9       0
7            7             9       0
8            8             9       0
9            9             9       0
10          10             9       0
11          11             9       0
12          12             9       0
13          13             9       0
14          14             9       0
15          15             9       0
16          16             9       0
17          17             9       0
18          18             9       0
19          19             9       0
20          20             9       0
21          21             9       0
22          22             9       1
23          23             9       0
24          24             9       0
25          25             9       0
26          26             9       0
27          27             9       0
28          28             9       0
29          29             9       0
...        ...           ...     ...
11357    11381             9       0
11358    11382             9       0
11359    11384             9       0
11360    11387             9       0
11361    11388             9       0
11362    11392             9       0
11363    11394             9       0
11364    11397             9       0
11365    11400             9       0
11366    11402             9       0
11367    11409             9       0
11368    11410             9       0
11369    11412             9       0
11370    11413             9       0
11371    11414             9       0
11372    11415             9       0
11373    11416             9       0
11374    11418             9       0
11375    11419             9       0
11376    11661             9       0
11377    11663             9       0
11378    11666             9       0
11379    11667             9       0
11380    11668             9       0
11381    11669             9       0
11382    11671             9       0
11383    11672             9       0
11384    11673             9       0
11385    11674             9       0
11386    11675             9       0

[11387 rows x 3 columns]