In [1]:
import numpy as np 
import pandas as pd 
from ipynb.fs.full.funciones_FF import feature_RatioDayMoments

# Seteo del mes snapshot

In [2]:
mes_snapshot = 9  #9 para train 12 para scoreo

# Lectura de los csv

In [3]:
df_pageviews = pd.read_csv("./data/pageviews.csv",
                   parse_dates=["FEC_EVENT"])
df_devicedata = pd.read_csv("./data/device_data.csv",
                   parse_dates=["FEC_EVENT"])
df_conversiones = pd.read_csv("./data/conversiones.csv")

In [4]:
#Se eliminan los registros que no deben ser considerados.
df_pageviews = df_pageviews[df_pageviews['FEC_EVENT'].dt.month <= mes_snapshot]
df_pageviews = df_pageviews[df_pageviews['FEC_EVENT'].dt.month > mes_snapshot - 9]

df_devicedata = df_devicedata[df_devicedata['FEC_EVENT'].dt.month <= mes_snapshot]
df_devicedata = df_devicedata[df_devicedata['FEC_EVENT'].dt.month > mes_snapshot - 9]

# Creación del universo

In [10]:
def universo_train(df):
    universo = pd.DataFrame()
    universo['user_id'] = df.USER_ID.unique()
    universo['snapshot_mes'] = mes_snapshot
    return universo

In [21]:
universo = universo_train(df_pageviews)

# Features

In [ ]:
def feature_X(df):

In [ ]:
def feature_X1(df):

# Armar dataset

In [22]:
universo = feature_RatioDayMoments(universo)
universo

,user_id,snapshot_mes,FEC_EVENT_MAX,CANT_TOTAL_EVER,CANT_TOTAL_ULT_7D,FEC_EVENT_MENOS_7D,RATIO_VISITA_MADRUGADA,RATIO_VISITA_MANANA,RATIO_VISITA_TARDE,RATIO_VISITA_NOCHE
0,0,9,2018-12-31 09:56:25,6431,132,2018-12-24 09:56:25,0.000000,0.545455,0.454545,0.000000
1,1,9,2018-12-30 23:29:46,2111,27,2018-12-23 23:29:46,0.000000,0.333333,0.407407,0.259259
2,2,9,2018-12-27 18:56:29,2368,20,2018-12-20 18:56:29,0.000000,0.000000,0.050000,0.950000
3,3,9,2018-12-30 13:50:16,1935,85,2018-12-23 13:50:16,0.000000,0.070588,0.600000,0.329412
4,4,9,2018-12-29 01:02:38,3105,40,2018-12-22 01:02:38,0.025000,0.625000,0.350000,0.000000
5,5,9,2018-12-31 20:25:58,5878,134,2018-12-24 20:25:58,0.000000,0.432836,0.455224,0.111940
6,6,9,2018-12-26 09:35:33,1642,52,2018-12-19 09:35:33,0.000000,0.557692,0.442308,0.000000
7,7,9,2018-12-27 12:39:56,2562,34,2018-12-20 12:39:56,0.000000,0.117647,0.882353,0.000000
8,8,9,2018-12-27 11:36:53,2299,54,2018-12-20 11:36:53,0.000000,0.074074,0.907407,0.018519
9,9,9,2018-12-31 17:48:44,2614,111,2018-12-24 17:48:44,0.000000,0.531532,0.243243,0.225225
10,10,9,2018-12-12 07:37:39,290,7,2018-12-05 07:37:39,0.000000,1.000000,0.000000,0.000000
11,11,9,2018-12-28 12:37:21,2008,52,2018-12-21 12:37:21,0.000000,0.000000,0.442308,0.557692
12,12,9,2018-12-31 10:21:17,3911,57,2018-12-24 10:21:17,0.000000,0.912281,0.087719,0.000000
13,13,9,2018-12-29 12:43:03,2407,30,2018-12-22 12:43:03,0.000000,0.666667,0.333333,0.000000
14,14,9,2018-12-28 10:48:51,1313,9,2018-12-21 10:48:51,0.000000,1.000000,0.000000,0.000000
15,15,9,2018-12-18 15:13:08,1087,19,2018-12-11 15:13:08,0.000000,0.263158,0.736842,0.000000
16,16,9,2018-12-31 13:31:27,4250,89,2018-12-24 13:31:27,0.000000,0.876404,0.056180,0.067416
17,17,9,2018-12-31 11:54:57,2135,34,2018-12-24 11:54:57,0.000000,0.735294,0.000000,0.264706
18,18,9,2018-12-18 09:15:47,477,3,2018-12-11 09:15:47,0.000000,1.000000,0.000000,0.000000
19,19,9,2018-12-28 16:57:11,1082,25,2018-12-21 16:57:11,0.000000,0.000000,0.040000,0.960000
20,20,9,2018-12-28 15:01:47,3381,66,2018-12-21 15:01:47,0.000000,0.242424,0.757576,0.000000
21,21,9,2018-12-18 14:57:03,1103,150,2018-12-11 14:57:03,0.000000,0.633333,0.346667,0.020000
22,22,9,2018-12-26 16:38:24,7118,70,2018-12-19 16:38:24,0.085714,0.414286,0.214286,0.285714
23,23,9,2018-12-21 16:50:14,960,4,2018-12-14 16:50:14,0.000000,0.000000,1.000000,0.000000
24,24,9,2018-12-31 08:52:41,10075,150,2018-12-24 08:52:41,0.000000,0.420000,0.246667,0.333333
25,25,9,2018-12-20 14:02:41,2561,82,2018-12-13 14:02:41,0.000000,0.000000,0.512195,0.487805
26,26,9,2018-12-30 11:05:00,4504,87,2018-12-23 11:05:00,0.000000,0.804598,0.149425,0.045977
27,27,9,2018-12-31 08:16:43,2027,23,2018-12-24 08:16:43,0.000000,1.000000,0.000000,0.000000
28,28,9,2018-12-28 11:41:05,1915,23,2018-12-21 11:41:05,0.000000,0.652174,0.347826,0.000000
29,29,9,2018-12-26 10:22:52,1168,17,2018-12-19 10:22:52,0.000000,0.411765,0.000000,0.588235
...,...,...,...,...,...,...,...,...,...,...
11357,11377,9,2018-12-07 14:20:28,354,150,2018-11-30 14:20:28,0.000000,0.406667,0.426667,0.166667
11358,11380,9,2018-12-14 17:47:40,823,4,2018-12-07 17:47:40,0.000000,0.500000,0.500000,0.000000
11359,11381,9,2018-12-29 13:12:51,654,35,2018-12-22 13:12:51,0.000000,0.600000,0.114286,0.285714
11360,11666,9,2018-09-22 17:35:38,51,5,2018-09-15 17:35:38,0.000000,0.000000,1.000000,0.000000
11361,11382,9,2018-12-14 20:45:36,521,21,2018-12-07 20:45:36,0.000000,0.476190,0.000000,0.523810
11362,11384,9,2018-12-12 09:52:21,653,56,2018-12-05 09:52:21,0.000000,0.428571,0.571429,0.000000
11363,11667,9,2018-09-27 11:34:29,11,11,2018-09-20 11:34:29,0.000000,1.000000,0.000000,0.000000
11364,11387,9,2018-12-29 21:54:35,395,45,2018-12-22 21:54:35,0.000000,0.000000,0.000000,1.000000
11365,11388,9,2018-12-11 19:55:17,190,30,2018-12-04 19:55:17,0.200000,0.000000,0.000000,0.800000
11366,11668,9,2018-09-11 18:55:27,32,16,2018-09-04 18:55:27,0.000000,0.000000,0.000000,1.000000
11367,11669,9,2018-08-03 13:38:44,256,141,2018-07-27 13:38:44,0.000000,0.021277,0.113475,0.865248
11368,11392,9,2018-12-03 11:06:27,402,36,2018-11-26 11:06:27,0.000000,0.222222,0.777778,0.000000
11369,11671,9,2018-10-26 22:17:36,1239,170,2018-10-19 22:17:36,0.000000,0.541176,0.182353,0.276471
11370,11672,9,2018-09-17 19:39:29,34,34,2018-09-10 19:39:29,0.000000,0.000000,0.000000,1.000000
11371,11394,9,2018-12-28 14:32:08,1502,51,2018-12-21 14:32:08,0.000000,0.294118,0.705882,0.000000
11372,11397,9,2018-11-15 12:36:46,333,28,2018-11-08 12:36:46,0.000000,0.000000,1.000000,0.000000
11373,11400,9,2018-12-30 17:13:18,265,29,2018-12-23 17:13:18,0.000000,0.000000,0.586207,0.413793
11374,11673,9,2018-10-18 11:34:42,85,23,2018-10-11 11:34:42,0.000000,1.000000,0.000000,0.000000
11375,11402,9,2018-12-27 19:57:58,349,16,2018-12-20 19:57:58,0.000000,0.000000,0.000000,1.000000
11376,11674,9,2018-09-27 15:58:54,2,2,2018-09-20 15:58:54,0.000000,0.000000,1.000000,0.000000
11377,11409,9,2018-12-28 19:24:40,235,4,2018-12-21 19:24:40,0.000000,0.000000,0.000000,1.000000
11378,11410,9,2018-12-10 16:46:23,112,13,2018-12-03 16:46:23,0.000000,0.000000,1.000000,0.000000
11379,11675,9,2018-10-23 10:15:40,82,43,2018-10-16 10:15:40,0.000000,0.186047,0.000000,0.813953
11380,11412,9,2018-12-27 11:26:58,196,3,2018-12-20 11:26:58,0.000000,1.000000,0.000000,0.000000
11381,11413,9,2018-11-04 13:50:25,68,4,2018-10-28 13:50:25,0.000000,0.000000,1.000000,0.000000
11382,11414,9,2018-12-19 15:25:42,343,4,2018-12-12 15:25:42,0.000000,0.000000,1.000000,0.000000
11383,11415,9,2018-12-21 15:35:00,878,24,2018-12-14 15:35:00,0.000000,0.000000,0.416667,0.583333
11384,11416,9,2018-12-19 16:41:56,78,19,2018-12-12 16:41:56,0.000000,0.000000,1.000000,0.000000
11385,11418,9,2018-12-11 16:13:23,416,44,2018-12-04 16:13:23,0.000000,0.522727,0.340909,0.136364
11386,11419,9,2018-12-30 21:28:08,886,28,2018-12-23 21:28:08,0.607143,0.000000,0.000000,0.392857

# Target

In [23]:
def target(df):
    df = pd.merge(df, df_conversiones, how='left', left_on=['user_id'], right_on=['USER_ID'])
    df.mes.fillna(value= 99, inplace=True)
    df = df.astype({'mes': 'int32'}) 
    
    df['target'] = 0
    df.loc[df.mes == df.snapshot_mes +1, 'target'] = 1
    df.loc[df.mes == df.snapshot_mes +2, 'target'] = 1
    df.loc[df.mes == df.snapshot_mes +3, 'target'] = 1

    return (df.groupby(['user_id', 'snapshot_mes'])['target'].max()).to_frame().reset_index()

In [25]:
target_universo = target(universo)
universo = pd.merge(universo, target_universo, how='left', left_on=['user_id', 'snapshot_mes'], right_on=['user_id','snapshot_mes'])

,user_id,snapshot_mes,FEC_EVENT_MAX,CANT_TOTAL_EVER,CANT_TOTAL_ULT_7D,FEC_EVENT_MENOS_7D,RATIO_VISITA_MADRUGADA,RATIO_VISITA_MANANA,RATIO_VISITA_TARDE,RATIO_VISITA_NOCHE,target
0,0,9,2018-12-31 09:56:25,6431,132,2018-12-24 09:56:25,0.000000,0.545455,0.454545,0.000000,0
1,1,9,2018-12-30 23:29:46,2111,27,2018-12-23 23:29:46,0.000000,0.333333,0.407407,0.259259,0
2,2,9,2018-12-27 18:56:29,2368,20,2018-12-20 18:56:29,0.000000,0.000000,0.050000,0.950000,0
3,3,9,2018-12-30 13:50:16,1935,85,2018-12-23 13:50:16,0.000000,0.070588,0.600000,0.329412,0
4,4,9,2018-12-29 01:02:38,3105,40,2018-12-22 01:02:38,0.025000,0.625000,0.350000,0.000000,0
5,5,9,2018-12-31 20:25:58,5878,134,2018-12-24 20:25:58,0.000000,0.432836,0.455224,0.111940,0
6,6,9,2018-12-26 09:35:33,1642,52,2018-12-19 09:35:33,0.000000,0.557692,0.442308,0.000000,0
7,7,9,2018-12-27 12:39:56,2562,34,2018-12-20 12:39:56,0.000000,0.117647,0.882353,0.000000,0
8,8,9,2018-12-27 11:36:53,2299,54,2018-12-20 11:36:53,0.000000,0.074074,0.907407,0.018519,0
9,9,9,2018-12-31 17:48:44,2614,111,2018-12-24 17:48:44,0.000000,0.531532,0.243243,0.225225,0
10,10,9,2018-12-12 07:37:39,290,7,2018-12-05 07:37:39,0.000000,1.000000,0.000000,0.000000,0
11,11,9,2018-12-28 12:37:21,2008,52,2018-12-21 12:37:21,0.000000,0.000000,0.442308,0.557692,0
12,12,9,2018-12-31 10:21:17,3911,57,2018-12-24 10:21:17,0.000000,0.912281,0.087719,0.000000,0
13,13,9,2018-12-29 12:43:03,2407,30,2018-12-22 12:43:03,0.000000,0.666667,0.333333,0.000000,0
14,14,9,2018-12-28 10:48:51,1313,9,2018-12-21 10:48:51,0.000000,1.000000,0.000000,0.000000,0
15,15,9,2018-12-18 15:13:08,1087,19,2018-12-11 15:13:08,0.000000,0.263158,0.736842,0.000000,0
16,16,9,2018-12-31 13:31:27,4250,89,2018-12-24 13:31:27,0.000000,0.876404,0.056180,0.067416,0
17,17,9,2018-12-31 11:54:57,2135,34,2018-12-24 11:54:57,0.000000,0.735294,0.000000,0.264706,0
18,18,9,2018-12-18 09:15:47,477,3,2018-12-11 09:15:47,0.000000,1.000000,0.000000,0.000000,0
19,19,9,2018-12-28 16:57:11,1082,25,2018-12-21 16:57:11,0.000000,0.000000,0.040000,0.960000,0
20,20,9,2018-12-28 15:01:47,3381,66,2018-12-21 15:01:47,0.000000,0.242424,0.757576,0.000000,0
21,21,9,2018-12-18 14:57:03,1103,150,2018-12-11 14:57:03,0.000000,0.633333,0.346667,0.020000,0
22,22,9,2018-12-26 16:38:24,7118,70,2018-12-19 16:38:24,0.085714,0.414286,0.214286,0.285714,1
23,23,9,2018-12-21 16:50:14,960,4,2018-12-14 16:50:14,0.000000,0.000000,1.000000,0.000000,0
24,24,9,2018-12-31 08:52:41,10075,150,2018-12-24 08:52:41,0.000000,0.420000,0.246667,0.333333,0
25,25,9,2018-12-20 14:02:41,2561,82,2018-12-13 14:02:41,0.000000,0.000000,0.512195,0.487805,0
26,26,9,2018-12-30 11:05:00,4504,87,2018-12-23 11:05:00,0.000000,0.804598,0.149425,0.045977,0
27,27,9,2018-12-31 08:16:43,2027,23,2018-12-24 08:16:43,0.000000,1.000000,0.000000,0.000000,0
28,28,9,2018-12-28 11:41:05,1915,23,2018-12-21 11:41:05,0.000000,0.652174,0.347826,0.000000,0
29,29,9,2018-12-26 10:22:52,1168,17,2018-12-19 10:22:52,0.000000,0.411765,0.000000,0.588235,0
...,...,...,...,...,...,...,...,...,...,...,...
11357,11377,9,2018-12-07 14:20:28,354,150,2018-11-30 14:20:28,0.000000,0.406667,0.426667,0.166667,0
11358,11380,9,2018-12-14 17:47:40,823,4,2018-12-07 17:47:40,0.000000,0.500000,0.500000,0.000000,0
11359,11381,9,2018-12-29 13:12:51,654,35,2018-12-22 13:12:51,0.000000,0.600000,0.114286,0.285714,0
11360,11666,9,2018-09-22 17:35:38,51,5,2018-09-15 17:35:38,0.000000,0.000000,1.000000,0.000000,0
11361,11382,9,2018-12-14 20:45:36,521,21,2018-12-07 20:45:36,0.000000,0.476190,0.000000,0.523810,0
11362,11384,9,2018-12-12 09:52:21,653,56,2018-12-05 09:52:21,0.000000,0.428571,0.571429,0.000000,0
11363,11667,9,2018-09-27 11:34:29,11,11,2018-09-20 11:34:29,0.000000,1.000000,0.000000,0.000000,0
11364,11387,9,2018-12-29 21:54:35,395,45,2018-12-22 21:54:35,0.000000,0.000000,0.000000,1.000000,0
11365,11388,9,2018-12-11 19:55:17,190,30,2018-12-04 19:55:17,0.200000,0.000000,0.000000,0.800000,0
11366,11668,9,2018-09-11 18:55:27,32,16,2018-09-04 18:55:27,0.000000,0.000000,0.000000,1.000000,0
11367,11669,9,2018-08-03 13:38:44,256,141,2018-07-27 13:38:44,0.000000,0.021277,0.113475,0.865248,0
11368,11392,9,2018-12-03 11:06:27,402,36,2018-11-26 11:06:27,0.000000,0.222222,0.777778,0.000000,0
11369,11671,9,2018-10-26 22:17:36,1239,170,2018-10-19 22:17:36,0.000000,0.541176,0.182353,0.276471,0
11370,11672,9,2018-09-17 19:39:29,34,34,2018-09-10 19:39:29,0.000000,0.000000,0.000000,1.000000,0
11371,11394,9,2018-12-28 14:32:08,1502,51,2018-12-21 14:32:08,0.000000,0.294118,0.705882,0.000000,0
11372,11397,9,2018-11-15 12:36:46,333,28,2018-11-08 12:36:46,0.000000,0.000000,1.000000,0.000000,0
11373,11400,9,2018-12-30 17:13:18,265,29,2018-12-23 17:13:18,0.000000,0.000000,0.586207,0.413793,0
11374,11673,9,2018-10-18 11:34:42,85,23,2018-10-11 11:34:42,0.000000,1.000000,0.000000,0.000000,0
11375,11402,9,2018-12-27 19:57:58,349,16,2018-12-20 19:57:58,0.000000,0.000000,0.000000,1.000000,0
11376,11674,9,2018-09-27 15:58:54,2,2,2018-09-20 15:58:54,0.000000,0.000000,1.000000,0.000000,0
11377,11409,9,2018-12-28 19:24:40,235,4,2018-12-21 19:24:40,0.000000,0.000000,0.000000,1.000000,0
11378,11410,9,2018-12-10 16:46:23,112,13,2018-12-03 16:46:23,0.000000,0.000000,1.000000,0.000000,0
11379,11675,9,2018-10-23 10:15:40,82,43,2018-10-16 10:15:40,0.000000,0.186047,0.000000,0.813953,0
11380,11412,9,2018-12-27 11:26:58,196,3,2018-12-20 11:26:58,0.000000,1.000000,0.000000,0.000000,0
11381,11413,9,2018-11-04 13:50:25,68,4,2018-10-28 13:50:25,0.000000,0.000000,1.000000,0.000000,0
11382,11414,9,2018-12-19 15:25:42,343,4,2018-12-12 15:25:42,0.000000,0.000000,1.000000,0.000000,0
11383,11415,9,2018-12-21 15:35:00,878,24,2018-12-14 15:35:00,0.000000,0.000000,0.416667,0.583333,0
11384,11416,9,2018-12-19 16:41:56,78,19,2018-12-12 16:41:56,0.000000,0.000000,1.000000,0.000000,0
11385,11418,9,2018-12-11 16:13:23,416,44,2018-12-04 16:13:23,0.000000,0.522727,0.340909,0.136364,0
11386,11419,9,2018-12-30 21:28:08,886,28,2018-12-23 21:28:08,0.607143,0.000000,0.000000,0.392857,0

In [33]:
universo.to_csv(r'dataset.csv', index = None, header=True)