In [1]:
import pandas as pd

#### Para testear las funciones, levanto los dataframes originales

In [255]:
universo = pd.read_csv(r'dataset.csv')
df_pageviews = pd.read_csv(r'df_pageviews.csv', parse_dates=['FEC_EVENT'])
df_conversiones = pd.read_csv(r'df_conversiones.csv')

In [256]:
df_pageviews['mes'] = df_pageviews['FEC_EVENT'].dt.month
df_pageviews['anio'] = df_pageviews['FEC_EVENT'].dt.year

In [263]:
df_page_qty = df_pageviews[df_pageviews['mes'].isin(qty_1)].groupby(['USER_ID', 'PAGE']).count()
df_page_qty = df_page_qty[['mes']]
df_page_qty = df_page_qty.reset_index()

        USER_ID  PAGE  mes
0             0     2  133
1             0     3  100
2             0     4   49
3             0     5   30
4             0     6    5
5             0    20   62
6             0    21   23
7             0    23    1
8             0    24   12
9             0    25   10
10            0    26   27
11            0    27   62
12            0    32   18
13            0    33    2
14            0    42    4
15            0    48    3
16            0    49    9
17            0    50    9
18            0    55    1
19            0    57    4
20            0    61    3
21            0    64   14
22            0    65   10
23            0    69    7
24            0    81    3
25            0    82    3
26            0    99    1
27            0   132    1
28            0   141    6
29            0   153   21
...         ...   ...  ...
126842    11671  1543    4
126843    11671  1544    3
126844    11672     2    8
126845    11672     3    2
126846    11672     4    2
126847    11672    83    3
126848    11672    93    1
126849    11672    95    1
126850    11672    96    1
126851    11672    97    1
126852    11672    99    2
126853    11672   139    1
126854    11672   256    5
126855    11672   399    3
126856    11672   541    1
126857    11672   542    1
126858    11672   622    1
126859    11672   681    1
126860    11673     2    7
126861    11673     3    5
126862    11673    21    6
126863    11673    27    3
126864    11673    58    2
126865    11673    59    1
126866    11673    60    1
126867    11673    61    1
126868    11673   113    1
126869    11673   235    1
126870    11674     2    1
126871    11674     3    1

[126872 rows x 3 columns]

In [293]:
df = df_page_qty

aux = []
for page in df['PAGE'].unique():
    feature_name = 'page_{}_qty_9M'.format(page)
    df_feature = df[df.PAGE == page]
    df_feature.rename(columns={'mes': feature_name}, inplace=True)
    aux.append(df_feature)
aux = pd.concat(aux, axis=1)

In [323]:
page = df['PAGE'].unique()[0]
print('page: '+ str(page))
feature_name = 'page_{}_qty_9M'.format(page)
print('feature_name: '+ feature_name)
df_feature = df[df.PAGE == page]
df_feature.rename(columns={'mes': feature_name}, inplace=True)
df_feature.drop(['PAGE'], axis=1, inplace=True)
df_feature

df2 = pd.merge(universo, df_feature, how='left', left_on=['user_id'], right_on=['USER_ID'])
df2.drop(['USER_ID'], axis=1, inplace=True)

page: 2
feature_name: page_2_qty_9M

       user_id  snapshot_mes  target  page_2_qty_9M
0            0             9       0          133.0
1            1             9       0           26.0
2            2             9       0           33.0
3            3             9       0           41.0
4            4             9       0           55.0
5            5             9       0           37.0
6            6             9       0           26.0
7            7             9       0           46.0
8            8             9       0           22.0
9            9             9       0           48.0
10          10             9       0            4.0
11          11             9       0           22.0
12          12             9       0           40.0
13          13             9       0           29.0
14          14             9       0           19.0
15          15             9       0            5.0
16          16             9       0           24.0
17          17             9       0           34.0
18          18             9       0            1.0
19          19             9       0           14.0
20          20             9       0           48.0
21          21             9       0           15.0
22          22             9       1           88.0
23          23             9       0           17.0
24          24             9       0          224.0
25          25             9       0           11.0
26          26             9       0           39.0
27          27             9       0           21.0
28          28             9       0           26.0
29          29             9       0           14.0
...        ...           ...     ...            ...
11357    11377             9       0            0.0
11358    11380             9       0           50.0
11359    11381             9       0            5.0
11360    11666             9       0           16.0
11361    11382             9       0           15.0
11362    11384             9       0            7.0
11363    11667             9       0            4.0
11364    11387             9       0            5.0
11365    11388             9       0           13.0
11366    11668             9       0            3.0
11367    11669             9       0            0.0
11368    11392             9       0           11.0
11369    11671             9       0           26.0
11370    11672             9       0            8.0
11371    11394             9       0           31.0
11372    11397             9       0            4.0
11373    11400             9       0            0.0
11374    11673             9       0            7.0
11375    11402             9       0           19.0
11376    11674             9       0            1.0
11377    11409             9       0            6.0
11378    11410             9       0            1.0
11379    11675             9       0            0.0
11380    11412             9       0           10.0
11381    11413             9       0            7.0
11382    11414             9       0            1.0
11383    11415             9       0           32.0
11384    11416             9       0            4.0
11385    11418             9       0            6.0
11386    11419             9       0           10.0

[11387 rows x 4 columns]