In [1]:
import pandas as pd

#### Para testear las funciones, levanto los dataframes originales

In [2]:
universo = pd.read_csv(r'dataset.csv')
df_pageviews = pd.read_csv(r'df_pageviews.csv', parse_dates=['FEC_EVENT'])
df_devicedata = pd.read_csv(r'df_devicedata.csv', parse_dates=['FEC_EVENT'])
df_conversiones = pd.read_csv(r'df_conversiones.csv')

In [3]:
df_pageviews['mes'] = df_pageviews['FEC_EVENT'].dt.month
df_pageviews['anio'] = df_pageviews['FEC_EVENT'].dt.year

In [4]:
## Omitir
#df_page_qty = df_pageviews[df_pageviews['mes'].isin(qty_1)].groupby(['USER_ID', 'PAGE']).count()
#df_page_qty = df_page_qty[['mes']]
#df_page_qty = df_page_qty.reset_index()

In [5]:
#df = df_page_qty

#aux = []
#for page in df['PAGE'].unique():
#    feature_name = 'page_{}_qty_9M'.format(page)
#    df_feature = df[df.PAGE == page]
#    df_feature.rename(columns={'mes': feature_name}, inplace=True)
#    aux.append(df_feature)
#aux = pd.concat(aux, axis=1)

#page = df['PAGE'].unique()[0]
#print('page: '+ str(page))
#feature_name = 'page_{}_qty_9M'.format(page)
#print('feature_name: '+ feature_name)
#df_feature = df[df.PAGE == page]
#df_feature.rename(columns={'mes': feature_name}, inplace=True)
#df_feature.drop(['PAGE'], axis=1, inplace=True)
#df_feature

#df2 = pd.merge(universo, df_feature, how='left', left_on=['user_id'], right_on=['USER_ID'])
#df2.drop(['USER_ID'], axis=1, inplace=True)

In [6]:
df_devicedata

                  FEC_EVENT  CONNECTION_SPEED  IS_MOBILE_DEVICE  USER_ID
0       2018-09-11 09:39:41                 1                 1      0.0
1       2018-05-16 21:12:54                 3                 1      0.0
2       2018-03-30 07:35:48                 1                 1      0.0
3       2018-07-16 11:42:43                 3                 1      0.0
4       2018-07-31 09:45:45                 1                 1      0.0
5       2018-09-08 21:26:58                 3                 1      0.0
6       2018-08-05 14:41:03                 3                 1      0.0
7       2018-06-12 14:26:14                 1                 1      0.0
8       2018-02-18 13:26:45                 1                 1      0.0
9       2018-02-05 14:39:37                 1                 1      0.0
10      2018-07-17 08:32:27                 3                 1      0.0
11      2018-07-11 10:17:46                 1                 1      0.0
12      2018-03-08 10:51:34                 1                 1      0.0
13      2018-08-07 22:37:59                 3                 1      0.0
14      2018-01-24 12:24:29                 1                 1      0.0
15      2018-07-31 21:16:42                 3                 1      0.0
16      2018-03-04 18:04:12                 1                 1      0.0
17      2018-04-26 19:21:53                 3                 1      0.0
18      2018-03-09 06:28:16                 1                 1      0.0
19      2018-09-21 10:06:43                 1                 1      0.0
20      2018-09-27 10:42:35                 1                 1      0.0
21      2018-04-10 14:04:22                 1                 1      0.0
22      2018-08-10 13:42:00                 1                 1      0.0
23      2018-03-12 13:17:52                 1                 1      0.0
24      2018-03-15 10:16:36                 1                 1      0.0
25      2018-08-18 16:00:38                 3                 1      0.0
26      2018-04-06 11:03:11                 3                 1      0.0
27      2018-03-29 10:46:02                 1                 1      0.0
28      2018-01-23 11:02:51                 1                 1      0.0
29      2018-01-23 21:23:23                 1                 1      0.0
...                     ...               ...               ...      ...
2093241 2018-05-04 13:06:35                 1                 1  10935.0
2093242 2018-02-24 11:09:29                 1                 1  10935.0
2093243 2018-05-13 11:57:41                 1                 1  10935.0
2093244 2018-02-28 16:18:58                 1                 1  10935.0
2093245 2018-07-08 08:18:56                 1                 1  10935.0
2093246 2018-02-13 20:26:00                 1                 1  10935.0
2093247 2018-02-03 18:32:31                 1                 1  10935.0
2093248 2018-01-22 08:14:25                 1                 1  10935.0
2093249 2018-02-03 09:47:45                 1                 1  10935.0
2093250 2018-03-06 08:48:18                 1                 1  10935.0
2093251 2018-06-04 07:03:22                 1                 1  10935.0
2093252 2018-07-08 09:08:49                 1                 1  10935.0
2093253 2018-07-04 07:30:16                 1                 1  10935.0
2093254 2018-05-03 17:44:39                 1                 1  10935.0
2093255 2018-04-06 20:01:32                 1                 1  10935.0
2093256 2018-02-15 21:10:00                 1                 1  10935.0
2093257 2018-02-24 11:38:08                 1                 1  10935.0
2093258 2018-06-13 14:31:44                 1                 1  10935.0
2093259 2018-02-03 18:31:38                 1                 1  10935.0
2093260 2018-08-13 12:01:18                 1                 1  10935.0
2093261 2018-06-12 09:07:27                 1                 1  10935.0
2093262 2018-02-05 15:05:35                 1                 1  10935.0
2093263 2018-07-03 15:27:36                 1                 1  10935.0
2093264 2018-03-17 17:56:16                 1                 1  10935.0
2093265 2018-02-28 16:18:50                 1                 1  10935.0
2093266 2018-07-09 19:44:11                 1                 1  10935.0
2093267 2018-04-02 20:08:46                 1                 1  10935.0
2093268 2018-02-11 14:01:13                 1                 1  10935.0
2093269 2018-02-18 21:12:25                 1                 1  10935.0
2093270 2018-03-25 20:44:33                 1                 1  10935.0

[2093271 rows x 4 columns]