In [1]:
import pandas as pd

In [2]:
#LEVANTO LOS DATASETS

dataset_ff = pd.read_csv("Datasets/dataset_ff.csv")
dataset_cf = pd.read_csv("Datasets/dataset_cf.csv")
dataset_lb = pd.read_csv("Datasets/dataset_lb.csv")
dataset_am = pd.read_csv("Datasets/dataset_am.csv")
dataset_target = pd.read_csv("Datasets/dataset_target.csv")

In [3]:
# SE BORRAN COLUMNAS DE MAS EN DATASET_FF
dataset_ff.columns

Index(['user_id', 'snapshot_mes', 'FEC_EVENT_MAX', 'CANT_TOTAL_EVER',
       'CANT_TOTAL_ULT_7D', 'FEC_EVENT_MENOS_7D', 'RATIO_VISITA_MADRUGADA',
       'RATIO_VISITA_MANANA', 'RATIO_VISITA_TARDE', 'RATIO_VISITA_NOCHE'],
      dtype='object')

In [4]:
# SE BORRAN COLUMNAS DE MAS EN DATASET_CF
dataset_cf = dataset_cf.drop(['snapshot_mes_x','snapshot_mes_y','snapshot_mes_x.1','snapshot_mes_y.1','USER_ID'], axis = 1)
dataset_cf.columns

Index(['user_id', 'qty_adopciones_1M', 'qty_adopciones_3M',
       'qty_adopciones_6M', 'qty_adopciones_9M', 'mes', 'anio',
       'qty_dias_ultima_adopcion', 'qty_dias_ultimo_page_ingreso'],
      dtype='object')

In [5]:
# SE BORRAN COLUMNAS DE MAS EN DATASET_lb
dataset_lb = dataset_lb.drop(['snapshot_mes_x','snapshot_mes_y'], axis = 1)
dataset_lb.columns

Index(['user_id', 'ratio_preferencia_3m_PAGE_1',
       'ratio_preferencia_3m_PAGE_10', 'ratio_preferencia_3m_PAGE_100',
       'ratio_preferencia_3m_PAGE_1000', 'ratio_preferencia_3m_PAGE_1001',
       'ratio_preferencia_3m_PAGE_1002', 'ratio_preferencia_3m_PAGE_1003',
       'ratio_preferencia_3m_PAGE_1004', 'ratio_preferencia_3m_PAGE_1005',
       ...
       'ratio_interes_reciente_1d_ON_SITE_SEARCH_TERM_289',
       'ratio_interes_reciente_1d_ON_SITE_SEARCH_TERM_290',
       'ratio_interes_reciente_1d_ON_SITE_SEARCH_TERM_291',
       'ratio_interes_reciente_1d_ON_SITE_SEARCH_TERM_292',
       'ratio_interes_reciente_1d_ON_SITE_SEARCH_TERM_293',
       'ratio_actividad_3m_ON_SITE_SEARCH_TERM',
       'ratio_actividad_1m_ON_SITE_SEARCH_TERM',
       'ratio_actividad_15d_ON_SITE_SEARCH_TERM',
       'ratio_actividad_7d_ON_SITE_SEARCH_TERM',
       'ratio_actividad_1d_ON_SITE_SEARCH_TERM'],
      dtype='object', length=28496)

In [11]:
# SE BORRAN COLUMNAS DE MAS EN DATASET_am
dataset_am = dataset_am.drop(['snapshot_mes_x','snapshot_mes_y'], axis = 1)
dataset_am.columns

Index(['user_id', 'ratio_adoption_preferencia_PAGE_1',
       'ratio_adoption_preferencia_PAGE_1.0',
       'ratio_adoption_preferencia_PAGE_10',
       'ratio_adoption_preferencia_PAGE_10.0',
       'ratio_adoption_preferencia_PAGE_100',
       'ratio_adoption_preferencia_PAGE_100.0',
       'ratio_adoption_preferencia_PAGE_1000',
       'ratio_adoption_preferencia_PAGE_1000.0',
       'ratio_adoption_preferencia_PAGE_1001',
       ...
       'ratio_adoption_preferencia_CONNECTION_SPEED_1.0',
       'ratio_adoption_preferencia_CONNECTION_SPEED_2.0',
       'ratio_adoption_preferencia_CONNECTION_SPEED_3.0',
       'ratio_adoption_interes_CONNECTION_SPEED', 'snapshot_mes',
       'ratio_adoption_preferencia_ON_SITE_SEARCH_TERM_1',
       'ratio_adoption_preferencia_ON_SITE_SEARCH_TERM_1.0',
       'ratio_adoption_preferencia_ON_SITE_SEARCH_TERM_63.0',
       'ratio_adoption_preferencia_ON_SITE_SEARCH_TERM_89.0',
       'ratio_adoption_interes_ON_SITE_SEARCH_TERM'],
      dtype='object', length=2071)

In [6]:
# SE BORRAN COLUMNAS DE MAS EN DATASET_TARGET
dataset_target = dataset_target.drop(['snapshot_mes_x','snapshot_mes_y'], axis = 1)
dataset_target.columns

Index(['user_id', 'target'], dtype='object')

In [12]:
# MERGE DE TODOS LOS DATASETS
dataset_ff_cf = pd.merge(dataset_cf, dataset_ff, how='left', on='user_id')
dataset_ff_cf_lb = pd.merge(dataset_ff_cf, dataset_lb, how='left', on='user_id')
dataset_ff_cf_lb_am = pd.merge(dataset_ff_cf_lb, dataset_am, how='left', on='user_id')
dataset_ff_cf_lb_am_T = pd.merge(dataset_ff_cf_lb_am, dataset_target, how='left', on=['user_id'])
dataset_ff_cf_lb_am_T.head(5)

,user_id,qty_adopciones_1M,qty_adopciones_3M,qty_adopciones_6M,qty_adopciones_9M,mes,anio,qty_dias_ultima_adopcion,qty_dias_ultimo_page_ingreso,snapshot_mes_x,...,ratio_adoption_preferencia_CONNECTION_SPEED_2.0,ratio_adoption_preferencia_CONNECTION_SPEED_3.0,ratio_adoption_interes_CONNECTION_SPEED,snapshot_mes,ratio_adoption_preferencia_ON_SITE_SEARCH_TERM_1,ratio_adoption_preferencia_ON_SITE_SEARCH_TERM_1.0,ratio_adoption_preferencia_ON_SITE_SEARCH_TERM_63.0,ratio_adoption_preferencia_ON_SITE_SEARCH_TERM_89.0,ratio_adoption_interes_ON_SITE_SEARCH_TERM,target
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,9,...,-999.0,0.0,0.0,9,0.0,-999.0,-999.0,-999.0,0.0,0
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,9,...,0.0,-999.0,0.0,9,0.0,-999.0,-999.0,-999.0,0.0,0
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,9,...,0.0,0.0,0.0,9,0.0,-999.0,-999.0,-999.0,0.0,0
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,9,...,-999.0,-999.0,0.0,9,0.0,-999.0,-999.0,-999.0,0.0,0
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,9,...,0.0,0.0,0.0,9,0.0,-999.0,-999.0,-999.0,0.0,0

In [13]:
#Prueba de cuantos 1 y 0 tenemos en el datasets
dataset_ff_cf_lb_am_T.groupby('target').count()

,user_id,qty_adopciones_1M,qty_adopciones_3M,qty_adopciones_6M,qty_adopciones_9M,mes,anio,qty_dias_ultima_adopcion,qty_dias_ultimo_page_ingreso,snapshot_mes_x,...,ratio_adoption_preferencia_CONNECTION_SPEED_1.0,ratio_adoption_preferencia_CONNECTION_SPEED_2.0,ratio_adoption_preferencia_CONNECTION_SPEED_3.0,ratio_adoption_interes_CONNECTION_SPEED,snapshot_mes,ratio_adoption_preferencia_ON_SITE_SEARCH_TERM_1,ratio_adoption_preferencia_ON_SITE_SEARCH_TERM_1.0,ratio_adoption_preferencia_ON_SITE_SEARCH_TERM_63.0,ratio_adoption_preferencia_ON_SITE_SEARCH_TERM_89.0,ratio_adoption_interes_ON_SITE_SEARCH_TERM
target,,,,,,,,,,,,,,,,,,,,,
0,11140,11140,11140,11140,11140,11140,11140,11140,11140,11140,...,11140,11140,11140,11140,11140,11140,11140,11140,11140,11140
1,389,389,389,389,389,389,389,389,389,389,...,389,389,389,389,389,389,389,389,389,389

In [ ]:
# EXPORTO EL DATASET FINAL
dataset_ff_cf_lb_am_T.to_csv('dataset_ff_cf_lb_am_T.csv', index = None, header=True)